[Desktop Entry]
Version=2.15.0
Encoding=UTF-8
Comment=Software sound renderer (MIDI sequencer, MOD player)
Name=Tkmidity.tcl
Terminal=false
Type=Application
Exec=timidity-snap.tcltk-ui
Categories=AudioVideo;Audio;Sequencer;
MimeType=audio/midi;audio/x-mod;
Keywords=midi;sequencer
Icon=${SNAP}/meta/gui/timidity-snap.png
